!!! 5
%html
	%head
		%meta{charset: 'utf8'}
		%title Bienvenido a Laberinto Radio
	%body
		%h1 Bienvenido a Laberinto Radio
		%p="Querid@ #{@user.name}:"
		%p Tu cuenta esta lista para que utilices el portal para locutores. Puedes ingresar con la siguiente credencial.
		%p
		%i email:
			=@user.email
		%i password
			=@user.password
		%p Ingresa en
			=link_to('http://www.laberintoradio.net')
			
