.container_12
	%article
		%header.grid_12
			%h1 Lobby :: Docs
		
		%section#docs.grid_9
			%ol
				%li=link_to "Manual de Procedimientos", "https://docs.google.com/document/d/1yLUa-40UNbdbHOqLyhwOdDuu3Pzr9i5UtRUmmoOTSbg/edit", target: '_blank'
				%li=link_to "Herramientas tecnologicas", "https://docs.google.com/document/d/1iBieYO8cp8JZQW0pESdl3MZ-jpZDcodn7q6MVzt8jgE/edit", target: '_blank'
		%aside.grid_3
			=render 'nav'
