.container_12
	%article
		%header.grid_12
			%h1 Lobby
		
		%section.doc.grid_9
			<iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;height=500&amp;wkst=1&amp;hl=es&amp;bgcolor=%23ffffff&amp;src=80joe955cgelvqnvgs4207ja0s%40group.calendar.google.com&amp;color=%232F6309&amp;src=es.mexican%23holiday%40group.v.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FMexico_City" style=" border-width:0 " width="700" height="500" frameborder="0" scrolling="no"></iframe>

		%aside.grid_3
			=render 'nav'

