@import 'reset.css';
@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis);
@import url(http://fonts.googleapis.com/css?family=Inder);

body{	overflow: hidden;	font-family: Arial, sans-serif; }

a{	color: #1122cc; text-decoration:none }
a:hover{ color: #6611cc; }
a:visited{	text-decoration: none;}

#mainSvg{
	position:absolute;
	height: 95%;
	width: 95%;
	margin-left: 27%;
}

.button{	cursor:	pointer; }

#admin-nav{
	font-size: 80%;
	position: absolute;
	width: 99%;
	padding: 5px 5px;
	top: 0;
	text-align: right;
}

#bottom-notice{
	position: absolute;
	height: 75px;
	width: 100%;
	bottom: -63px;
	background-color: #333;
	text-align: center;
}
	#bottom-notice p{
		color: white;
		font-size: 1.1em;
		font-family: Inder, sans-serif;
		padding: 10px;
	}

.hidden{ background: url(images/more.png) top center no-repeat; }
.hidden :hover{
	cursor: pointer;
}

.hoverSvg{
	fill: #333;
}

.button { 
    position: relative; 
    overflow: visible; 
    display: inline-block; 
    padding: 0.5em 1em; 
    border: 1px solid #d4d4d4; 
    margin: 0;
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff; 
    font:11px/normal sans-serif; 
    color: #333; 
    white-space: nowrap; 
    cursor: pointer; 
    outline: none; 
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box; 
    /*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */
    -webkit-border-radius: 0.2em; 
    -moz-border-radius: 0.2em; 
    border-radius: 0.2em; 
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}

.button:hover,
.button:focus,
.button:active,
.button.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #3C8DDE;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.button:active,
.button.active {
    border-color: #2a65a0;
    border-bottom-color: #3884CF;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}