@import 'reset.css';

body{
	overflow: hidden;
	font-family: Arial, sans-serif;
}

a:visited{
	color: #878e8e;
	background: blue;
}

#mainSvg{
	position:absolute;
	height: 95%;
	width: 95%;
	margin-left: 27%;
}

.button{
	cursor:	pointer;
}

#bottom-bar{
	position: absolute;
	width: 100%;
	padding: 5px 0;
	bottom: 0;
	background-color: #333;
	text-align: center;
}
