-content_for :stylesheets do
	=stylesheet_link_tag :lobby

.container_12
	%article.grid_12
		%header
			%h1 Lobby
		
		%h2 Admin
		=link_to 'Crea usuario', new_presenter_url
		%h2 Permisos
		%p
			=@claims.count
			pendientes
		=render :partial=>'/requests/claim', :collection => @claims
		%h2 Peticiones
		%p
			=@requests.count
			pendientes
		=render @requests
